/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  background-color: blue;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.wrapper {
  border: 1px solid red;
}

.img {
  height: 50vh;
}

.img img {
  height: 100%;
  display: inline-block;
}
